/* Reset and Common Styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}
/* End of Reset and Common Styles */

/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(255,255,255,.2),
        rgba(255,255,255,.3)
    ),
    url(images/pexels-goumbik-1420701.jpg) center
    no-repeat;
    background-size: cover;
    background-position: center 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.section-1-heading {
    font-size: 5rem;
    font-weight: 700;
    color: #303030;
    padding: 0 3rem;
    margin-top: 22rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.person-img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 50%;
}

.person-name {
    font-size: 2rem;
    color: #303030;
    margin-top: 4rem;
    margin-bottom: 6rem;
    letter-spacing: .3rem;
}

.section-1-btn {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    background-color: #e41c6f;
    border: none;
    border-radius: 10px;
    padding: .7rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
/* End of Section 1 */