
@media (max-width: 450px) {
    .main-content {
        width: 95%;
        padding-top: 20%;
    }
    
    .main-content-company img {
        height: 50px;
        width: 50px;
    }
    
    .main-content-company p {
        font-size: 3.4rem;
        margin-left: 12px;
    }
    
    .main-content-header {
        width: 90%;
        padding-top: 5%;
        font-size: 4rem;
    }
    
    .main-content-paragraph {
        width: 75%;
        padding-top: 5%;
        font-size: 2rem;
    }
    
    .main-content-contact {
        padding-top: 3%;
    }
    
    .contact-info {
        padding: 1rem 1.8rem;
        padding-top: 1.6rem;
        gap: 1.8rem;
    }

    .contact-info-phone svg {
        width: 35px;
        height: 35px;
    }
    
    .contact-info-linkedin svg {
        width: 50px;
        height: 50px;
    }
}
