
@media (max-width: 1300px) {
.section-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to right,
        rgba(48,48,48,1) 15%,
        rgba(48,48,48,0) 100%
    ),
    url(../images/pexels-jeswin-15061966-2.jpg) center
    no-repeat;
    background-size: cover;
    background-position: center 40%;
    position: relative;
    opacity: 0;
    transform: scale(0.9);
    animation: blushEffect 0.5s ease-out 0s forwards;
}

.main-content {
    width: 710px;
    position: absolute;
    top: 10%;
    left: 10%;
    /* background-color: pink; */
    opacity: 0;
    transform: scale(0.5);
    animation: blushEffect 0.5s ease-out 0.5s forwards;
}

@keyframes blushEffect {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.main-content-company {
    width: 100%;
    color: #fafafa;
    font-size: 4.7rem;
    font-weight: 200;
    display: flex;
    align-items: center;
}

.main-content-header {
    width: 100%;
    padding-top: 4%;
    font-size: 4.7rem;
    color: #fafafa;
    font-weight: 600;
}

.main-content-paragraph {
    width: 81%;
    padding-top: 3%;
    font-size: 2.3rem;
    color: #fafafa;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.main-content-contact {
    display: flex;
    justify-content: flex-start;
    position: relative;
    /* background-color: orange; */
    margin-top: 7%;
}

.contact-btn,
.contact-info {
    color: #fafafa;
    font-weight: 500;
    background-color: #905748;
    border: none;
    border-radius: 10px;
    letter-spacing: .1rem;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform-origin: left center;
}

.contact-btn {
    font-size: 1.9rem;
    padding: 1.1rem 1.9rem;
    cursor: pointer;
}

.btn-pressed {
    transform: scaleX(0);
    opacity: 0;
    position: absolute;
}

.contact-btn a {
    all: unset;
}

.contact-info {
    position: absolute;

    /* Para que el elemento comience arriba y a la izquierda del div padre*/

    top: 0;     /* Posición desde el borde izquierdo del contenedor */
    left: 0;   /* Posición hasta el borde inferior del contenedor */
    width: auto; /* Ajusta el ancho al contenido */

    /* Para centrar el elemento*/

    /* left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content; */

    font-size: 2.3rem;
    padding: 1.1rem 1.9rem;
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    transform: scaleX(0);
    opacity: 0;
}

.contact-info-visible {
    transform: scaleX(1);
    opacity: 1;
    position: initial;
}

.contact-info svg {
    width: 30px;
    height: 30px;
    fill: #fafafa;
}

.contact-info-phone,
.contact-info-mail,
.contact-info-linkedin {
    height: 100%;
    display: flex;
    align-items: center;
}

.contact-info-phone {
    white-space: nowrap;
}

.contact-info-phone p {
    margin-left: 3.5%;
}

.contact-info-mail p {
    margin-left: 3.5%;
    margin-bottom: 1%;
}

.contact-info-linkedin svg {
    width: 50px;
    height: 50px;
    margin-top: 15%;
}
/* End of Section 1 */

}