
@media (max-width: 769px) {
    .section-1 {
        background: linear-gradient(
            to right,
            rgba(48,48,48,1) 0%,
            rgba(48,48,48,0) 100%
        ),
        url(../images/pexels-jeswin-15061966-2.jpg) center
        no-repeat;
        background-size: cover;
        background-position: 20% 50%;
        display: flex;
        justify-content: center;
    }

    .main-content {
        width: 80%;
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
    }
    
    .main-content-company {
        justify-content: center;
    }
    
    .main-content-company img {
        height: 55px;
        width: 55px;
    }
    
    .main-content-company p {
        font-size: 3.7rem;
        margin-left: 15px;
    }
    
    .main-content-header {
        width: 92%;
        padding-top: 3.5%;
        font-size: 3.7rem;
        text-align: center;
    }
    
    .main-content-paragraph {
        width: 82%;
        padding-top: 3.5%;
        font-size: 1.8rem;
        text-align: center;
    }
    
    .main-content-contact {
        display: flex;
        justify-content: center;
        width: 75%;
        padding-top: 2%;
    }
    
    .contact-btn,
    .contact-info {
        transform-origin: center center;
    }
    
    .contact-btn {
        display: none;
        position: absolute;
    }
    
    .contact-info {
        position: initial;
        display: initial;
        font-size: 2rem;
        padding: 1.8rem 2rem;
        padding-top: 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        transform: scaleX(1);
        opacity: 1;
    }
    
    .contact-info svg {
        width: 20px;
        height: 20px;
    }
    
    .contact-info-phone,
    .contact-info-mail,
    .contact-info-linkedin {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-info-mail {
        margin-top: 6px;
    }
    
    .contact-info-mail p {
        margin-left: 6px;
        margin-bottom: 1px;
    }
    
    .contact-info-phone svg {
        width: 50px;
        height: 50px;
    }
    
    .contact-info-linkedin svg {
        width: 70px;
        height: 70px;
    }
}
