/* Media Queries para 1700px a 1900px */
@media (max-width: 999px) {
    .section-1 {
        background: linear-gradient(
            to right,
            rgba(48,48,48,1) 25%,
            rgba(48,48,48,0) 100%
        ),
        url(../images/pexels-jeswin-15061966-2.jpg) center
        no-repeat;
        background-size: cover;
        background-position: 80% 0%;
        display: flex;
        justify-content: center;
    }

    .main-content {
        height: 600px;
        width: 710px;
        /* background-color: pink; */
        position: static;
        margin-top: 230px;
    }
}
